[submodule ".vim"]
	path = .vim
    url = git://github.com/spelcaster/customvim.git
    branch = master
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git://github.com/tmux-plugins/tpm.git
	branch = master
